{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jasmine": true,
    "jest": true,
    "node": true,
  },
  "rules": {
    "arrow-body-style": 0,
    "global-require": 0,
    "import/no-dynamic-require": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0,
    "import/prefer-default-export": 0,
    "indent": [2, 2, {"SwitchCase": 1}],
    "jsx-a11y/anchor-is-valid": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/no-noninteractive-element-interactions": 0,
    "jsx-a11y/no-noninteractive-element-to-interactive-role": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/label-has-associated-control": 0,
    "jsx-a11y/label-has-for":0,
    "jsx-quotes": ["error", "prefer-single"],
    "keyword-spacing": 1,
    "linebreak-style": 0,
    "max-len": 0,
    "no-console": [ "warn", { "allow": [ "info", "warn", "error" ] } ],
    "prefer-destructuring": 0,
    "react/forbid-prop-types": 0,
    "react/jsx-filename-extension": 0,
    "react/jsx-pascal-case": 1,
    "react/no-array-index-key": 0,
    "react/prefer-stateless-function": 0,
    "space-before-blocks": 1,
    "react-hooks/exhaustive-deps": "warn"
  },
  "plugins": [
    "react-hooks"
  ],
  "globals": {
    "fetch": true,
  }
}