$color-red: #ED3030;
$color-secondary: #1BB3BC;
$color-black-red: #EC0000;
$border-color: #ccc;
$color-triplet: #333;
$color-light-black: #333;
$color-light-gray: #f2f2f2;
$bg-color-light-gray: #f2f2f2;
$color-light-gray-black: #6F7779;
$default-border-color: #CCC;
$color-black:#000;
$bg-color-black:#000;
$color-green:#EC0000;
$color-blue:#2196F3;
$bg-color-green:#EC0000;
$bg-color-blue:#EC0000d4;
$bg-color-pastel:#FFF;
$bg-color-pastel-transparent:#F8EFDE99;
$bg-color-gray:#ccc;
$bg-color-white:#fff;
$color-white:#fff;
$color-dark-gray:#666;
$border-color-dark-gray: #ccc;
$btn-border:#D9D9D9;
$bg-color-dark:#D9D9D9;
$color-dark-green:#1BB3BC;
$bg-color-dark-green:#1BB3BC;
$color-Gray35:#595959;
$bg-color-gray-trans:#0000008a;
$bg-color-light-green:#57B939;
$bg-color-gray-dark-trans:#333333b8;
$box-shadow-light-green:rgba(97, 166, 76, 0.2);
$bg-color-wine: #EC0000;
$green-federal: #666;
$bg-color-sand: #F2F2F2;
$bg-federal-sand-2: #f7f7f7;
$color-gray: #898D8D;
$cdmx-gray: #898D8D;
$cdmx-light-gray: #e5e5e5;
$cdmx-gray-99: #999;
$cdmx-gray-55: #767676;
$cdmx-gray-33: #333;
$cdmx-gray-CC: #CCC;
$cdmx-button-bg: #EC0000;
$cdmx-dark-gray: #666;
$cdmx-error: #CB2833;
$modal-red: #990000;

$level-green: #EC0000;
$level-yellow: #EC0000;
$level-red: #EC0000;

$level-low: #00B140;
$level-medium: #FFCC33;
$level-medium-70: #FFCC33b3;
$level-high: #FF7C02;
$level-high-50: #FF7C0280;
$level-high-70: #FF7C02b3;
$level-very-high: #FF0000;
$level-very-high-30: #FF00004d;
$level-very-high-50: #FF000080;
$level-very-high-70: #FF0000b3;
