@import 'src/styles/colors';

select {
  border: none;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  &:focus {
    outline: none;
  }
}

.a-select {
    border-radius: 4px;
    background: $bg-color-white;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
  
    label {
      margin: 0;
      &::after {
        content: "";
        width: 7px;
        height: 7px;
        position: absolute;
        border-right: 2px solid $bg-color-wine;
        border-bottom: 2px solid $bg-color-wine;
        transform: rotate(45deg);
        right: 15px;
        top: 40%;
      }
    }
  
    select {
      border: transparent;
      padding: 0;
      height: auto;
      -webkit-appearance: none;
      -moz-appearance: none;
      box-shadow: none;
    }
  }